[user]
	email = bjarke.vad90@gmail.com
	name = Bjarke Vad
[credential]
	helper = cache --timeout=3600
[diff]
	tool = kdiff3
[difftool]
	prompt = false
[difftool "kdiff3"]
    trustExitCode = true;
[alias]
	d = difftool
    plog = log --graph --oneline --all --abbrev-commit --decorate
[merge]
	tool = kdiff3
    trustExitCode = true;
[push]
	default = current

[pull]
    rebase=true

[core]
    editor=vim
    excludesfile = /home/bjarke/.gitignore_global

[help]
    autocorrect = 1
