[user]
	email = bjarke.vad90@gmail.com
	name = Bjarke Vad
[credential]
	helper = cache --timeout=14400
[diff]
	tool = kdiff3
[difftool]
	prompt = false
[difftool "kdiff3"]
    trustExitCode = true;
[alias]
	d = difftool
    plog = log --graph --oneline --all --abbrev-commit --decorate
[merge]
	tool = kdiff3
    trustExitCode = true;
[push]
	default = current

[pull]
    rebase=true

[core]
    editor=vim
    excludesfile = /home/bjarke/.gitignore_global

[help]
    autocorrect = 1
[github]
	user = bjarkevad
	password = dinmor123
	oauth-token = a99a792dba86d556d7e7368bc7b0b0af4cc92923
